@use 'sass:map';

@mixin icon {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

@mixin better_b_a ($color,$width,$tranclete) {
    content: '';
    background-color: $color;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    width: $width;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: $tranclete;
}

$icons: (
    'one': '../images/icons/one.png',
    'two': '../images/icons/two.png',
    'three': '../images/icons/three.png',
    'four': '../images/icons/four.png',
    'five': '../images/icons/five.png',
    'six': '../images/icons/six.png',
);

@each $name, $path in $icons {
    .icon_#{$name} {
        background-image: url("#{$path}");
        @include icon
    }
}

.better {
    padding-top: 30px;
    padding-bottom: 60px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    margin-bottom: 50px;
}

.services_box {
    margin-bottom: 30px;
}

.services_box:last-child {
    padding-bottom: 0;
}

.wrapper {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

.services {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    padding-right: 14px;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
}

.services::after {
    content: '';
    background-image: url(../images/arrow_blue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 48%;
    margin-top: -6px;
}

.hero {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 30px;
}

.icon {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.services_heder {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    margin: 0px;
    margin-bottom: 15px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
}

.better::before {
    @include better_b_a (#CACADB,calc(100% - 40px),translate(-50%))
}

.better::after {
    @include better_b_a (#E7E7F2,calc(100% - 80px),translate(-50%, 100%))
}

@media (min-width: 768px) {
    .wrapper {
        width: 648px;
    }

    .hero {
        margin-bottom: 60px;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .better {
        padding-top: 60px;
        margin-bottom: 80px;
    }

    .services_box {
        width: 294px;
        margin-bottom: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .services_box:nth-child(5) {
        margin-bottom: 0px;
    }

    .services_box:nth-child(6) {
        margin-bottom: 0px;
    } 
}

@media (min-width: 1024px) {
    .wrapper {
        width: 904px;
    }

    .better {
        padding-top: 60px;
    }

    .services_box {
        width: 261.33px;
        margin-bottom: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .services_box:nth-child(4) {
        margin-bottom: 0px;
    } 
}

@media (min-width:1440px) {
    .wrapper {
        width: 1320px;
    }

    .services_box {
        width: 400px;
        margin-bottom: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
    }

    .services_box {
        width: 493.33px;
        margin-bottom: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .services {
        color: #F0145A;
    }

    .services::after {
        background-image: url(../images/arrow_red.png);
    }
}







