@use 'sass:map';

@mixin cards {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

$cards: (
    '1': '../images/partners/1.png',
    '2': '../images/partners/2.png',
    '3': '../images/partners/3.png',
    '4': '../images/partners/4.png',
    '5': '../images/partners/5.png',
    '6': '../images/partners/6.png',
    '7': '../images/partners/7.png',
    '8': '../images/partners/8.png',
    '9': '../images/partners/9.png',
    '10': '../images/partners/10.png',
    '11': '../images/partners/11.png',
    '12': '../images/partners/12.png',
);

@each $name, $path in $cards {
    .card_#{$name} {
        background-image: url("#{$path}");
        @include cards
    }
}

$cards_color: (
    '1': '#1C4280',
    '2': '#143646',
    '3': '#F48B30',
    '4': '#9E4DC3',
    '5': '#FD9339',
    '6': '#E2E2E4',
    '7': '#C71C36',
    '8': '#DCF3F9',
    '9': '#EAEAEA',
    '10': '#282240',
    '11': '#1D4568',
    '12': '#000000',
);

@each $name, $path in $cards_color {
    .card_partner_#{$name} {
        background-color: #{$path};
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.none {
    display: none;
}

.partners_box a { 
    width: 100%;
}


@media (min-width: 768px) {
    .partners_box {
        display: flex;
        flex-wrap: wrap;
    }

    .partners_box a { 
        width: 33.33%;
    }

    .none {
        display: flex;
    }

    .partners_wrapper {
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:1024px) {
    .partners_box a {
        width: 25%;
    }
}

@media (min-width: 1920px) {
    .partners_box a {
        width: 25%;
    }

    .partners_wrapper {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .partners_box {
        padding-left: 100px;
        padding-right: 100px;
        overflow: hidden;
    }

    .card_partner_1 {
        border-radius: 10px 0 0 0;
    }

    .card_partner_4 {
        border-radius: 0 10px 0 0;
    }

    .card_partner_9 {
        border-radius: 0 0 0 10px;
    }

    .card_partner_12 {
        border-radius: 0 0 10px 0;
    }

    .partners {
        padding-bottom: 60px;
    }
}